// navigation for favourite cards - index dots and arrows
.cards-nav {
  @include flex;
  position: relative;

  &__index-dots {
    max-width: 100vw;
    @include flex;
    flex-wrap: wrap;
    gap: 1rem;
    display: none;
    padding: 0;

    &.active {
      display: flex;
      padding: 1rem 0;
    }
  }

  &__index-dot {
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    border: 1px solid $color-white;
    background-color: rgba($color-white, 0);
    cursor: pointer;
    transition: background-color 0.15s ease-in;

    &.active {
      background-color: rgba($color-white, 1);
    }
  }
}

// side scrolling arrows
.scroll-arrow {
  color: $color-white;
  font-size: 2.5rem;
  opacity: 0.5;
  position: fixed;
  z-index: $z-2;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: none;
  visibility: visible;
  transition: opacity 0.2s ease;

  &--left {
    left: 3rem;
  }
  &--right {
    right: 3rem;
  }

  // used when arrows are needed - when favourite cards are displayed
  &.active {
    display: initial;
  }

  // used when one of the arrows is not needed - when scrolling begins or ends
  &.hidden {
    visibility: hidden;
    opacity: 0;
  }

  @media only screen and (min-width: $bp-medium) {
    font-size: 3rem;
  }

  @media only screen and (min-width: $bp-large) {
    opacity: 1;
    font-size: 3.5rem;
  }
}
