// FONT
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

// COLORS
$color-black: #000000;
$color-blue: #30475e;
$color-white: #ffffff;
$color-dark-grey: #222831;
$color-grey: #cccccc;
$color-red: #f05454;
$color-green: #2e8562;

//SHADOW
$shadow-light: 0px 5px 8px 0px rgba(0, 0, 0, 0.24);

//VARIABLES
$header-height: 6rem;

// BREAKPOINTS
$bp-medium: 37.5em; //600px
$bp-large: 60em; //960px
$bp-xlarge: 87.5em; //1400px

// Z-INDEX
$z-1: 100; // mobile-menu, card
$z-2: 200; // hamburger-btn, side-scroll arrow;
$z-3: 300; // search overlay
$z-4: 400; // search
$z-5: 500; // modal overlay
$z-6: 600; // modals

$bg-img: url('https://source.unsplash.com/random/1024x768/?weather') center
  center / cover no-repeat;

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-family: 'Open Sans';
  font-size: 62.5%;

  @media only screen and (min-width: $bp-medium) {
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0) 70%,
        rgba(0, 0, 0, 0.9) 100%
      ),
      url('https://source.unsplash.com/random/1280x1024/?weather') center center /
        cover no-repeat;
  }

  @media only screen and (min-width: $bp-large) {
    font-size: 68.75%;
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0) 70%,
        rgba(0, 0, 0, 0.9) 100%
      ),
      url('https://source.unsplash.com/random/1920x1080/?weather') center center /
        cover no-repeat;
  }

  @media only screen and (min-width: $bp-xlarge) {
    font-size: 75%;
  }
}

body {
  min-height: 100vh;
  box-sizing: border-box;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0) 70%,
      rgba(0, 0, 0, 0.9) 100%
    ),
    url('https://source.unsplash.com/random/1024x768/?weather') center center /
      cover no-repeat;

  // background: linear-gradient(
  //     0deg,
  //     rgba(0, 0, 0, 0) 70%,
  //     rgba(0, 0, 0, 0.9) 100%
  //   ),
  //   url('https://source.unsplash.com/random/1280×720/?weather') center center /
  //     cover no-repeat;

  display: grid;
  grid-template-rows: max-content min-content 1fr;
  // row-gap: 2rem;
}
