.main-box {
  // border: 1px solid red;
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  // overflow: hidden;
  overflow: auto;
  padding: 1rem 0 2rem 0;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  scrollbar-color: $color-grey $color-dark-grey;

  &::-webkit-scrollbar {
    height: 1vh;
    display: none;

    &-track {
      background-color: $color-dark-grey;
    }

    &-thumb {
      background-color: $color-grey;
    }
  }
}

.all-cards {
  width: max-content;
  display: flex;
  align-items: flex-start;
  // justify-content: flex-start;
}

.card-box {
  width: 100vw;
  @include flex;
  padding: 0 2rem;
  overflow: hidden;
  scroll-snap-align: start;
}

// overlay
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: transparent;
  display: none;

  &.active {
    display: block;
  }

  &--search {
    z-index: $z-3;
  }

  &--modal {
    z-index: $z-5;
    background-color: rgba($color-black, 0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    // BACKDROP-FILTER FALLBACK
    @supports not ((backdrop-filter: none) or (-webkit-backdrop-filter: none)) {
      & {
        background-color: rgba($color-black, 0.7);
      }
    }
  }
}

//spinner
.spinner {
  width: 100%;
  height: 100%;
  @include flex;
  font-size: 3.5rem;
  color: $color-blue;
  padding: 1rem;

  // &--large {
  //   position: absolute;
  //   z-index: $z-2;
  //   top: 0;
  //   left: 0;
  //   color: $color-white;
  //   font-size: 5rem;
  //   padding: 0;
  //   display: none;

  //   background-color: rgba($color-black, 0.3);
  //   backdrop-filter: blur(5px);
  //   -webkit-backdrop-filter: blur(5px);

  //   // BACKDROP-FILTER FALLBACK
  //   @supports not ((backdrop-filter: none) or (-webkit-backdrop-filter: none)) {
  //     & {
  //       background-color: rgba($color-black, 0.6);
  //     }
  //   }
  // }

  // &.active {
  //   display: flex;
  // }

  & .fa-spinner {
    animation: rotate 2.5s infinite linear;
  }

  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
}

// big spinner in main container
.all-cards .spinner {
  color: $color-white;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 5rem;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  padding: 0;
  background-color: rgba($color-black, 0.3);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);

  // BACKDROP-FILTER FALLBACK
  @supports not ((backdrop-filter: none) or (-webkit-backdrop-filter: none)) {
    & {
      background-color: rgba($color-black, 0.6);
    }
  }
}
