.main-box {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  overflow: auto;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  scrollbar-width: thin;
  scrollbar-color: $color-grey $color-dark-grey;

  &::-webkit-scrollbar {
    height: 1vh;

    &-track {
      background-color: $color-dark-grey;
    }

    &-thumb {
      background-color: $color-grey;
    }
  }
}

.all-cards {
  width: max-content;
  display: flex;
  justify-content: flex-start;
}

.card-box {
  width: 100vw;
  @include flex;
  padding: 0 2rem;
  overflow: hidden;
  scroll-snap-align: start;
}

// SIDE SCROLLING ARROWS
.fa-chevron-left,
.fa-chevron-right {
  color: $color-grey;
  font-size: 2.5rem;
  opacity: 0.5;
  position: fixed;
  z-index: $z-2;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  display: none;
  visibility: visible;
  transition: opacity 0.2s ease;

  &.active {
    display: initial;
  }

  &.hidden {
    visibility: hidden;
    opacity: 0;
  }

  @media only screen and (min-width: $bp-medium) {
    font-size: 3rem;
  }

  @media only screen and (min-width: $bp-large) {
    opacity: 1;
    font-size: 3.5rem;
  }
}
.fa-chevron-left {
  left: 3rem;
}
.fa-chevron-right {
  right: 3rem;
}

// overlay
.overlay {
  position: absolute;
  z-index: $z-3;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  display: none;

  &.active {
    display: block;
  }
}

//spinner
.spinner {
  width: 100%;
  height: 100%;
  @include flex;
  font-size: 3.5rem;
  color: $color-blue;
  padding: 1rem;

  &--large {
    position: absolute;
    z-index: $z-2;
    top: 0;
    left: 0;
    color: $color-white;
    font-size: 5rem;
    padding: 0;
    display: none;

    background-color: rgba($color-black, 0.3);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);

    // BACKDROP-FILTER FALLBACK
    @supports not ((backdrop-filter: none) or (-webkit-backdrop-filter: none)) {
      & {
        background-color: rgba($color-black, 0.6);
      }
    }
  }

  &.active {
    display: flex;
  }

  & .fa-spinner {
    animation: rotate 2.5s infinite linear;
  }

  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
}
